* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: hsl(185, 75%, 39%);
  --text-primary: hsl(229, 23%, 23%);
  --text-secondary: hsl(0, 0%, 59%);
}

body {
  min-height: 100vh;
  max-width: 90em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;

  background-color: var(--background);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top -350px left -50px, bottom -350px right -50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.section {
  display: flex;
}

.bg-pattern {
  border-radius: 20px 20px 0 0;
}

.profile-pic {
  height: 110px;
  width: 110px;
  position: absolute;
  top: 25%;
  z-index: 3;
  border-radius: 250px;
  border: 5px solid white;
}

.personal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 1.5rem;
}

.personal-details .age {
  font-weight: 300;
  color: var(--text-secondary);
  padding-left: 8px;
}

.personal-details .location {
  color: var(--text-secondary);
  font-size: 14px;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-top: 2px solid #f4f4f4;
}

h4,
.name,
.number {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--text-primary);
  padding-bottom: 0.5rem;
}

.label {
  color: var(--text-secondary);
  font-size: 11px;
  letter-spacing: 1px;
}

/* Tablet Styles */
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
  .pattern-top {
    left: -400px;
    top: -500px;
  }

  .pattern-bottom {
    right: -400px;
    bottom: -500px;
  }
} */

/* Desktop Styles */
/* @media only screen and (min-width: 961px) {
  .pattern-top {
    left: -100px;
    top: -500px;
  }

  .pattern-bottom {
    right: -100px;
    bottom: -500px;
  }

  .card {
    width: 360px;
  }
} */
